<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VINS-Focus configurations</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="title-container">
        <h1 class="title">VINS-Focus config</h1>
    </div>
    <div class="configurations">
        <ul class="config-list">
            {% for file in files %}
                <li><a href="{{ url_for('edit_file', filename=file) }}">{{ file }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>